<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{title}">Coffee manage project</title>
    <link rel="stylesheet" th:href="@{/css/navbar-menu.css}"/>
</head>
<body>

    <nav th:fragment="header-menu">
        <div class="div">
            <ul class="menu">
                <li>
                    <span class="item-point-v"></span>
                </li>
                <li sec:authorize="hasAuthority('Administrator')">
                    <a class="item-point-v" th:href="@{/roles}" data-th-text="#{panel.roles}"></a>
                </li>
                <li sec:authorize="hasAuthority('Administrator') or hasAuthority('Manager')">
                    <a class="item-point-v" th:href="@{/addresses}" data-th-text="#{panel.addresses}"></a>
                </li>
                <li sec:authorize="hasAuthority('Administrator') or hasAuthority('Manager')">
                    <a class="item-point-v" th:href="@{/modelsMachine}" data-th-text="#{panel.model-machine}"></a>
                </li>
                <li sec:authorize="hasAuthority('Administrator') or hasAuthority('Manager')">
                    <a class="item-point-v" th:href="@{/products}" data-th-text="#{panel.products}"></a>
                </li>
                <li sec:authorize="hasAuthority('Administrator') or hasAuthority('Manager')">
                    <a class="item-point-v" th:href="@{/machines}" data-th-text="#{panel.machines}"></a>
                </li>
                <li sec:authorize="hasAuthority('Administrator')">
                    <a class="item-point-v" th:href="@{/typePayments}" data-th-text="#{panel.type-payment}"></a>
                </li>
                <li sec:authorize="hasAuthority('Administrator') or hasAuthority('Manager')">
                    <a class="item-point-v" th:href="@{/discounts}" data-th-text="#{panel.discount}"></a>
                </li>
                <li sec:authorize="hasAuthority('Administrator') or hasAuthority('Manager')">
                    <a class="item-point-v" th:href="@{/purchases}" data-th-text="#{panel.purchases}"></a>
                </li>
                <li sec:authorize="hasAuthority('Customer')">
                    <a class="item-point-v" th:href="@{/orders}" data-th-text="#{panel.customer.purchase}"></a>
                </li>
                <li sec:authorize="hasAuthority('Customer')">
                    <a class="item-point-v" th:href="@{/orders/history}" data-th-text="#{panel.order.history}"></a>
                </li>
            </ul>
        </div>
    </nav>

</body>
</html>