<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
    <title>Coffee manage project</title>
</head>
<body>

<div>
    <form class="loginForm" th:method="POST" th:action="@{/customer}" th:object="${customer}">
        <input type="hidden" th:name="prevURl" th:value="${prevURl}">
        <h2 data-th-text="#{registration.label}">Регистрация</h2>

        <div class="field">
            <label class="label" for="username" data-th-text="#{registration.label.login}">Логин:</label>
            <div class="input-div">
                <input class="input" th:field="*{user.username}" name="username" id="username">
                <div class="error" th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}">error
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="password" data-th-text="#{registration.label.password}">Пароль:</label>
            <div class="input-div">
                <input class="input" th:field="*{user.password}" type="password" name="password" id="password">
                <div class="error" th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}">error
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="confirmPassword" data-th-text="#{registration.label.confirmPassword}">Повторите
                пароль:</label>
            <div class="input-div">
                <input class="input" th:field="*{user.confirmPassword}" type="password" name="confirmPassword"
                       id="confirmPassword">
                <div class="error" th:if="${#fields.hasErrors('user.confirmPassword')}"
                     th:errors="*{user.confirmPassword}">error
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="name" data-th-text="#{registration.label.name}">Имя:</label>
            <div class="input-div">
                <input class="input" th:field="*{name}" name="name" id="name">
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="surname" data-th-text="#{registration.label.surname}">Фамилия:</label>
            <div class="input-div">
                <input class="input" th:field="*{surname}" name="surname" id="surname">
                <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">error</div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="email" data-th-text="#{registration.label.email}">email:</label>
            <div class="input-div">
                <input class="input" th:field="*{email}" name="email" id="email">
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="phone" data-th-text="#{registration.label.phone}">Телефон:</label>
            <div class="input-div">
                <input class="input" th:field="*{phone}" name="phone" id="phone">
            </div>
        </div>

            <button th:class="double-border-button" type="submit"
                    data-th-text="#{registration.button.registration}">РЕГИСТРАЦИЯ
            </button>
            <a class="double-border-button" th:href="@{${prevURl}}"
               data-th-text="#{registration.button.cancel}">ОТМЕНА</a>

    </form>
</div>

</body>
</html>