<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
    <title>Coffee manage project</title>
</head>
<body>

<div>
    <form class="loginForm" th:method="PATCH" th:action="@{/customer/{username}/creditCards/{id}(username=${#authentication.principal.username},id=${creditCard.id})}"
          th:object="${creditCard}">
        <div class="h2">
            <h2 data-th-text="#{credit-card.edit.label}">Изменение данных банковской карты</h2>
        </div>

        <div class="field">
            <label class="label" for="number" data-th-text="#{credit-card.edit.label.card-number}">Номер карты:</label>
            <div class="input-div">
                <input class="input" th:field="*{number}" name="number" id="number">
                <div class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">error</div>
            </div>
        </div>

        <div class="submit-div">
            <button th:class="double-border-button" type="submit" data-th-text="#{credit-card.edit.button.update}">ОБНОВИТЬ</button>
            <a class="double-border-button" th:href="@{${prevURl}}" data-th-text="#{credit-card.edit.button.cancel}">ОТМЕНА</a>
        </div>

    </form>
</div>

</body>
</html>