<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
    <title>Coffee manage project</title>
</head>
<body>

<div>
    <form class="loginForm" th:method="PATCH" th:action="@{/customer/{id}(id=${customer.id})}" th:object="${customer}">
        <input type="hidden" th:name="prevURl" th:value="${prevURl}">
        <div class="h2">
            <h2 data-th-text="#{customer.profile.label}">Профиль</h2>
        </div>

        <div class="field">
            <label class="label" for="name" data-th-text="#{customer.profile.label.name}">Имя:</label>
            <div class="input-div">
                <input class="input" th:field="*{name}" name="name" id="name">
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="surname" data-th-text="#{customer.profile.label.surname}">Фамилия:</label>
            <div class="input-div">
                <input class="input" th:field="*{surname}" name="surname" id="surname">
                <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">error</div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="email" data-th-text="#{customer.profile.label.email}">email:</label>
            <div class="input-div">
                <input class="input" th:field="*{email}" name="email" id="email">
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="phone" data-th-text="#{customer.profile.label.phone}">Телефон:</label>
            <div class="input-div">
                <input class="input" th:field="*{phone}" name="phone" id="phone">
            </div>
        </div>

        <div class="submit-div">
            <button th:class="double-border-button" type="submit" data-th-text="#{customer.profile.button.update}">ОБНОВИТЬ</button>
            <a class="double-border-button" th:href="@{${prevURl}}" data-th-text="#{customer.profile.button.cancel}">ОТМЕНА</a>
        </div>

    </form>
</div>

</body>
</html>